Repository waldiez/runner: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, update-do-sh-hash, verify-do-sh-hash

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

update-do-sh-hash:
  name: Auto-update do.sh SHA256 hash
  entry: python3 scripts/check_hash.py
  language: system
  pass_filenames: false

verify-do-sh-hash:
  name: Verify do.sh SHA256 hash
  entry: python3 scripts/check_hash.py --check
  language: system
  pass_filenames: false

update requirements, pin click version to < 8.2
  docs/openapi.json
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/main.txt
  requirements/test.txt
Due: none

lint, docs
  docs/openapi.json
  pyproject.toml
  waldiez_runner/middleware/__init__.py
Due: lint

lint, openapi
  docs/openapi.json
Due: none

Format and lint fixes
  tests/dependencies/test_auth.py
  tests/dependencies/test_getters.py
  tests/routes/ws/test_auth.py
  tests/services/test_external_token_service.py
  waldiez_runner/config/_common.py
  waldiez_runner/dependencies/auth.py
  waldiez_runner/dependencies/context.py
  waldiez_runner/dependencies/getters.py
  waldiez_runner/routes/ws/auth.py
  waldiez_runner/services/_external_token_service.py
Due: lint

Test fixes
  tests/dependencies/test_auth.py
  tests/dependencies/test_getters.py
  tests/routes/ws/test_auth.py
Due: lint

Deployed 6601ff8 with MkDocs version: 1.6.1
  examples/app/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 787b1bd with MkDocs version: 1.6.1
  examples/app/index.html
Due: none

rename ai to assistant
  examples/html/static/css/chat.css
  examples/html/static/img/assistant.webp
  examples/html/static/js/chat/live.js
  examples/html/static/js/chat/static.js
Due: none

Deployed ad99462 with MkDocs version: 1.6.1
  examples/app/index.html
Due: none

prepare for 0.5.0
  .all-contributorsrc
  .vscode/settings.json
  README.md
  pyproject.toml
  scripts/check_pysqlite.py
  scripts/pre_start.py
  tests/tasks/app/test_redis_io_stream.py
  waldiez_runner/tasks/app/flow_runner.py
  waldiez_runner/tasks/app/redis_io_stream.py
  waldiez_runner/tasks/app/results_serialization.py
Due: lint

prepare for 0.5.0
  .vscode/settings.json
  README.md
Due: none

Deployed 139b5c1 with MkDocs version: 1.6.1
  examples/app/index.html
Due: none

update waldiez deps to 0.4.8
  docs/openapi.json
  pyproject.toml
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed ccd4eac with MkDocs version: 1.6.1
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update pyproject and deps
  pyproject.toml
  requirements/main.txt
Due: none

Deployed 1d2969d with MkDocs version: 1.6.1
  examples/app/index.html
Due: none

lint, update deps
  pyproject.toml
  requirements/main.txt
  requirements/test.txt
  waldiez_runner/client/_clients_api.py
  waldiez_runner/client/_websockets.py
  waldiez_runner/config/settings.py
  waldiez_runner/dependencies/database.py
  waldiez_runner/dependencies/getters.py
  waldiez_runner/dependencies/redis.py
  waldiez_runner/main.py
  waldiez_runner/middleware/extra_headers.py
  waldiez_runner/models/common.py
  waldiez_runner/services/_client_service.py
  waldiez_runner/services/_task_service.py
  waldiez_runner/tasks/app/main.py
  waldiez_runner/tasks/app/redis_io_stream.py
  waldiez_runner/tasks/runner.py
  waldiez_runner/tasks/status_watcher.py
Due: lint

Deployed 9f1ff6b with MkDocs version: 1.6.1
  examples/app/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

bump to 0.4.9
  Containerfile
  Containerfile.dev
  compose.dev.yaml
  compose.example.yaml
  deploy/compose/do.sh
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  examples/jupyter/task_demo.ipynb
  nginx/example.conf
  pyproject.toml
  requirements/main.txt
  requirements/test.txt
  scripts/start.sh
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint, update-do-sh-hash, verify-do-sh-hash

Deployed 80b87ea with MkDocs version: 1.6.1
  examples/app/index.html
  examples/task_demo/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update deps
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
Due: none

bump to 0.4.11
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 79faae2 with MkDocs version: 1.6.1
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update README
  README.md
Due: none

Deployed e45144d with MkDocs version: 1.6.1
  assets/external/unpkg.com/mermaid@11/dist/mermaid.min.js
  examples/app/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

bump to 0.5.0
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 43d80ca with MkDocs version: 1.6.1
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
Due: none

update deps, bump to 0.5.1
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
  requirements/test.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 2ca30b8 with MkDocs version: 1.6.1
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

lint
  waldiez_runner/routes/ws/auth.py
Due: lint

update deps
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/main.txt
  requirements/test.txt
Due: none

bump to 0.5.2
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/routes/ws/auth.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 6f06b21 with MkDocs version: 1.6.1
  404.html
  architecture/index.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.56ea9cef.min.js
  assets/javascripts/bundle.56ea9cef.min.js.map
  clients/index.html
  examples/app/index.html
  examples/html/index.html
  examples/index.html
  examples/streamlit/index.html
  examples/task_demo/index.html
  getting-started/index.html
  index.html
  openapi.json
  reference/client/index.html
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tasks/index.html
  websocket/index.html
Due: none

update deps
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
  requirements/test.txt
  waldiez_runner/tasks/app/requirements.txt
Due: none

bump to 0.5.3
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 516218d with MkDocs version: 1.6.1
  assets/external/unpkg.com/mermaid@11/dist/mermaid.min.js
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

Deployed 4f6404a with MkDocs version: 1.6.1
  assets/external/unpkg.com/mermaid@11/dist/mermaid.min.js
  examples/app/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 7b2f011 with MkDocs version: 1.6.1
  examples/app/index.html
Due: none

Path conditions:
  lint: any of: \.py$
  update-do-sh-hash: any of: ^deploy/compose/do\.sh$
  verify-do-sh-hash: any of: ^deploy/compose/do\.sh$
