Repository waldiez/runner: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, update-do-sh-hash, verify-do-sh-hash

.pre-commit-config.yaml:

---
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args:
          - --unsafe
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.md

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint
        types: [python]
        language: system
        pass_filenames: false
      - id: update-do-sh-hash
        name: Auto-update do.sh SHA256 hash
        entry: python3 scripts/check_hash.py
        language: system
        files: ^deploy/compose/do\.sh$
        pass_filenames: false
      - id: verify-do-sh-hash
        name: Verify do.sh SHA256 hash
        entry: python3 scripts/check_hash.py --check
        language: system
        files: ^deploy/compose/do\.sh$
        pass_filenames: false
      - id: update-openapi
        name: Ensure openapi.json is up-to-date
        entry: python3 scripts/openapi.py
        language: system
        always_run: true

update compose files
  compose.dev.yaml
  compose.example.yaml
Due: none

update deps, change bcrypt with argon2 or scrypt, add locust load tests
  .env.locust.example
  .gitignore
  .vscode/settings.json
  Makefile
  locustfiles/tasks.py
  pyproject.toml
  requirements/dev.txt
  requirements/docs.txt
  requirements/main.txt
  requirements/test.txt
  scripts/load.py
  waldiez_runner/models/__init__.py
  waldiez_runner/models/client.py
  waldiez_runner/models/hasher.py
  waldiez_runner/models/hasher_impl.py
  waldiez_runner/schemas/client.py
Due: lint

Deployed 7789078 with MkDocs version: 1.6.1
  404.html
  architecture.html
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.e53b48f4.min.css
  clients.html
  config.html
  examples/app.html
  examples/html.html
  examples/index.html
  examples/streamlit.html
  examples/task_demo.html
  getting-started.html
  index.html
  reference/client.html
  reference/openapi.html
  sitemap.xml
  sitemap.xml.gz
  tasks.html
  websocket.html
Due: none

update hashing and client validation, typing on windows
  waldiez_runner/models/client.py
  waldiez_runner/models/hasher.py
  waldiez_runner/models/hasher_impl.py
  waldiez_runner/routes/v1/task_input_validation.py
  waldiez_runner/services/_client_service.py
Due: lint

update conftest
  tests/conftest.py
Due: lint

update client verify, running: commit triggered_at
  waldiez_runner/models/client.py
  waldiez_runner/services/_client_service.py
  waldiez_runner/services/_task_service.py
  waldiez_runner/tasks/running.py
Due: lint

Deployed f9d890d with MkDocs version: 1.6.1
  examples/app.html
Due: none

update hashing
  .vscode/settings.json
  pyproject.toml
  requirements/main.txt
  tests/hashing/__init__.py
  tests/hashing/test_argon_hasher.py
  tests/hashing/test_bcrypt_verifier.py
  tests/hashing/test_scrypt_hasher.py
  waldiez_runner/hashing/__init__.py
  waldiez_runner/hashing/_argon_hasher.py
  waldiez_runner/hashing/_bcrypt_verifier.py
  waldiez_runner/hashing/_scrypt_hasher.py
  waldiez_runner/hashing/dispatcher.py
  waldiez_runner/hashing/protocol.py
  waldiez_runner/models/__init__.py
  waldiez_runner/models/client.py
  waldiez_runner/models/hasher_impl.py
  waldiez_runner/schemas/client.py
Due: lint

Deployed ca60d1a with MkDocs version: 1.6.1
  examples/app.html
Due: none

update scripts/
  scripts/image.py
Due: lint

update .vscode/settings.json
  .vscode/settings.json
Due: none

update compose files, add backup
  .gitignore
  compose.dev.yaml
  compose.example.yaml
  deploy/compose/__init__.py
  deploy/compose/_archive.py
  deploy/compose/_lib.py
  deploy/compose/_models.py
  deploy/compose/backup.example.ini
  deploy/compose/backup.py
  deploy/compose/do.sh
Due: lint, update-do-sh-hash, verify-do-sh-hash

update compose lib.py
  deploy/compose/_lib.py
Due: lint

add backup deps check
  deploy/compose/deps.py
Due: lint

update .gitignore
  .gitignore
Due: none

update compose backup/restore
  deploy/compose/_lib.py
  deploy/compose/backup.py
  deploy/compose/lib/__init__.py
  deploy/compose/lib/_archive.py
  deploy/compose/lib/_common.py
  deploy/compose/lib/_constants.py
  deploy/compose/lib/_container.py
  deploy/compose/lib/_load.py
  deploy/compose/lib/_local.py
  deploy/compose/lib/_models.py
  deploy/compose/lib/_postgres.py
  deploy/compose/lib/_redis.py
  deploy/compose/lib/_s3.py
  deploy/compose/lib/_ssh.py
  deploy/compose/lib/_validation.py
  deploy/compose/lib/_webhook.py
  deploy/compose/restore.example.ini
  deploy/compose/restore.py
Due: lint

update Makefile
  Makefile
Due: none

update deps
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
  requirements/test.txt
Due: none

Deployed f4ccb05 with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update post_run
  waldiez_runner/tasks/running.py
Due: lint

update backup/restore lib
  deploy/compose/lib/_common.py
Due: lint

Deployed dc978ed with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update Containerfiles
  Containerfile
  Containerfile.dev
Due: none

Deployed 331c376 with MkDocs version: 1.6.1
  examples/app.html
Due: none

update deploy/compose
  deploy/compose/deps.py
  deploy/compose/lib/_load.py
  deploy/compose/lib/_s3.py
Due: lint

Deployed 77c890c with MkDocs version: 1.6.1
  examples/app.html
Due: none

lint
  deploy/compose/deps.py
Due: lint

Deployed 8dc88ca with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update client tests
  tests/client/test_websockets.py
Due: lint

Deployed 5874c94 with MkDocs version: 1.6.1
  examples/app.html
Due: none

update scrips, gh actions, include pyright, update deps
  .github/workflows/docs.yaml
  .github/workflows/image.yaml
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
  requirements/test.txt
  scripts/lint.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed 3dfe00c with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update scripts
  scripts/_lib.py
  scripts/drop.py
  scripts/initial_data.py
Due: lint

update start: handle windows
  waldiez_runner/start.py
Due: lint
