Repository waldiez/runner: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, update-do-sh-hash, verify-do-sh-hash

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

update-do-sh-hash:
  name: Auto-update do.sh SHA256 hash
  entry: python3 scripts/check_hash.py
  language: system
  pass_filenames: false

verify-do-sh-hash:
  name: Verify do.sh SHA256 hash
  entry: python3 scripts/check_hash.py --check
  language: system
  pass_filenames: false

update .vscode
  .vscode/settings.json
Due: none

add CODEOWNERS
  CODEOWNERS
Due: none

update deps
  pyproject.toml
  requirements/docs.txt
  requirements/main.txt
  requirements/test.txt
Due: none

Deployed ed22153 with MkDocs version: 1.6.1
  404.html
  architecture/index.html
  clients/index.html
  examples/app/index.html
  examples/html/index.html
  examples/index.html
  examples/streamlit/index.html
  examples/task_demo/index.html
  getting-started/index.html
  index.html
  reference/client/index.html
  reference/openapi/index.html
  tasks/index.html
  websocket/index.html
Due: none

enhance auth with audience and unified admin check
  tests/dependencies/test_getters.py
  tests/routes/ws/test_auth.py
  waldiez_runner/dependencies/__init__.py
  waldiez_runner/dependencies/auth.py
  waldiez_runner/dependencies/getters.py
  waldiez_runner/routes/ws/auth.py
Due: lint

Admins cancel all tasks
  tests/routes/v1/test_task_router.py
  waldiez_runner/dependencies/getters.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

Admins download all tasks
  tests/routes/v1/test_task_router.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

Admin gets all tasks
  tests/routes/v1/test_task_router.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

Admin updates all tasks
  tests/routes/v1/test_task_router.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

Admin deletes any tasks
  tests/routes/v1/test_task_router.py
  waldiez_runner/routes/v1/task_router.py
  waldiez_runner/services/_task_service.py
Due: lint

lint fixes
  tests/routes/v1/test_task_router.py
  tests/routes/ws/test_auth.py
  waldiez_runner/dependencies/auth.py
  waldiez_runner/dependencies/getters.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

update docs
  docs/clients.md
  docs/openapi.json
  docs/tasks.md
Due: none

Deployed e02bc25 with MkDocs version: 1.6.1
  clients/index.html
  examples/app/index.html
  openapi.json
  reference/openapi/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tasks/index.html
Due: none

Fixed search queries
  waldiez_runner/services/_task_service.py
Due: lint

Deployed bb8199e with MkDocs version: 1.6.1
  assets/external/fonts.googleapis.com/css.49ea35f2.css
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm32WWg.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm36WWoKC.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm3CWWoKC.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm3KWWoKC.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm3OWWoKC.woff2
  assets/external/fonts.gstatic.com/s/robotomono/v31/L0x7DF4xlVMF-BfR8bXMIjhOm3mWWoKC.woff2
  examples/app/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

lint, update deps, cspell words, pre-commit, docs
  .env.example
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  deploy/compose/do.sh
  mkdocs.yml
  pyproject.toml
  tests/dependencies/storage/test_local.py
Due: lint, update-do-sh-hash, verify-do-sh-hash

Deployed 127d228 with MkDocs version: 1.6.1
  404.html
  architecture.html
  architecture/index.html
  assets/external/unpkg.com/iframe-worker/shim.js
  clients.html
  clients/index.html
  examples/app.html
  examples/html.html
  examples/html/index.html
  examples/index.html
  examples/streamlit.html
  examples/streamlit/index.html
  examples/task_demo.html
  getting-started.html
  getting-started/index.html
  index.html
  objects.inv
  reference/client.html
  reference/openapi.html
  search/search_index.js
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tasks.html
  tasks/index.html
  websocket.html
  websocket/index.html
Due: none

update generated requirements
  requirements/dev.txt
  requirements/main.txt
  requirements/test.txt
Due: none

Deployed 9663a3e with MkDocs version: 1.6.1
  examples/app.html
Due: none

lint
  .pre-commit-config.yaml
  .vscode/settings.json
  mkdocs.yml
  tests/routes/v1/test_task_router.py
  waldiez_runner/client/models.py
  waldiez_runner/dependencies/getters.py
Due: lint

Deployed 3b6e25b with MkDocs version: 1.6.1
  examples/app.html
Due: none

bump to 0.6.0
  docs/openapi.json
  examples/dummy_with_input.waldiez
  examples/dummy_with_input2.waldiez
  pyproject.toml
  requirements/dev.txt
  requirements/main.txt
  waldiez_runner/_version.py
  waldiez_runner/tasks/app/requirements.txt
Due: lint

Deployed b2bad06 with MkDocs version: 1.6.1
  examples/app.html
  openapi.json
  reference/openapi.html
  search/search_index.js
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

update compose.dev
  compose.dev.yaml
Due: none

update status watcher
  waldiez_runner/tasks/status_watcher.py
Due: lint

update task deps and lifecycle
  waldiez_runner/tasks/dependencies.py
  waldiez_runner/tasks/lifecycle.py
  waldiez_runner/tasks/running.py
Due: lint

update db manager
  waldiez_runner/dependencies/database.py
Due: lint

Deployed b351e18 with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update deps
  pyproject.toml
  requirements/main.txt
Due: none

catch serialization error in io stream
  waldiez_runner/tasks/app/flow_runner.py
  waldiez_runner/tasks/app/redis_io_stream.py
Due: lint

Deployed c1226d1 with MkDocs version: 1.6.1
  examples/app.html
Due: none

update middleware, skip slowapi when downloading
  tests/middleware/test_slow_api.py
  waldiez_runner/middleware/__init__.py
  waldiez_runner/middleware/conditional_gzip.py
  waldiez_runner/middleware/extra_headers.py
  waldiez_runner/middleware/slow_api.py
  waldiez_runner/routes/v1/task_router.py
Due: lint

Deployed 7e048ef with MkDocs version: 1.6.1
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

update html example
  examples/html/static/js/chat/live.js
  examples/html/static/js/chat/static.js
  examples/html/static/js/chat/utils.js
  examples/html/static/js/lib/auth.js
  examples/html/static/js/lib/client.js
  examples/html/static/js/lib/index.js
  examples/html/static/js/lib/rest.js
  examples/html/static/js/lib/utils.js
  examples/html/static/js/lib/ws.js
  examples/html/static/js/main.js
  examples/html/static/js/snackbar.js
  examples/html/static/js/tasks/newTask.js
  examples/html/static/js/tasks/tasksList.js
  examples/html/static/js/theme.js
Due: none

update ws manager, try to parse double dumped print
  waldiez_runner/routes/ws/manager.py
Due: lint

Deployed e9eca8d with MkDocs version: 1.6.1
  examples/app.html
Due: none

update io stream, handle empty message
  tests/tasks/app/test_redis_io_stream.py
  waldiez_runner/tasks/app/redis_io_stream.py
Due: lint

Deployed c92adef with MkDocs version: 1.6.1
  examples/app.html
Due: none

add option for days to keep task results
  .env.example
  compose.dev.yaml
  compose.example.yaml
  tests/config/test_auth.py
  tests/config/test_tasks.py
  tests/services/test_task_service.py
  tests/tasks/test_schedule.py
  waldiez_runner/config/_tasks.py
  waldiez_runner/config/settings.py
  waldiez_runner/dependencies/storage/base.py
  waldiez_runner/dependencies/storage/local.py
  waldiez_runner/routes/v1/task_router.py
  waldiez_runner/services/_task_service.py
  waldiez_runner/tasks/__init__.py
  waldiez_runner/tasks/dependencies.py
  waldiez_runner/tasks/lifecycle.py
  waldiez_runner/tasks/runner.py
  waldiez_runner/tasks/running.py
  waldiez_runner/tasks/schedule.py
Due: lint

Deployed c0a4aee with MkDocs version: 1.6.1
  assets/external/unpkg.com/mermaid@11/dist/mermaid.min.js
  examples/app.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  lint: any of: \.py$
  update-do-sh-hash: any of: ^deploy/compose/do\.sh$
  verify-do-sh-hash: any of: ^deploy/compose/do\.sh$
